/* Phone */
.Device {
  position:relative;
  left:0;
  right:0;
  margin:10px auto;
  padding:70px 18px 68px 18px;
  width:240px;
  background:#444;
  border-radius:30px;
  float: left;
  margin-left: 10px;
}

/*.Device:before {
  content:'';
  position:relative;
  left:0;
  right:0;
  margin:-35px auto;
  height:8px;
  width:45px;
  background:#333;
  border-radius:20px;
}

.Device:after {
  content:'';
  position:relative;
  left:0;
  right:0;
  margin:12px auto;
  height:42px;
  width:42px;
  background:#333;
  border-radius:20px;
}*/

/* Anuncio */
.Anuncio {
  position: relative;
  width:240px;
  height:400px;
  padding:0;
  font-family: 'Roboto';
  overflow:hidden;  
  background: #FFF;
  overflow-y: scroll; 
}

/* Anuncio-Cabecalho */
.Anuncio-Cabecalho {
  width:220px;
  padding: 10px;
  font-size:18px;
  position:relative;
  background:#11B1C2;
  color:#fff;
  text-align: center;
  line-height: 0.3em;
}
.Anuncio-Cabecalho-titulo {
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}
.Anuncio-Cabecalho-valor {
  font-size: 34px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-weight: 400;
}
.Anuncio-Descricao {
  color: #999;
  line-height: 1.2em;
  margin: 10px 10px -10px 10px;
  font-size: 12px;
}

/* InfoAnuncio */
.InfoAnuncio {
  margin: 20px 10px -10px 10px;
}
.InfoAnuncio-anuncianteLogo {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.InfoAnuncio-anuncioRotulo {
  font-size: 14px;
}
.InfoAnuncio-anuncianteNome {
  font-size: 12px;
  color: #666;
  font-weight: 300;
  margin-left: 52px;
  margin-top: -9px;
}

/* Midias */
.Midias img {
  width: 100%;
}

/* Secoes */
.SecoesAnuncio {
  margin: 20px 10px -10px 10px;
}

/* SecoesDetalhamento */
.SecaoAnuncioDetalhamento-rotulo {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}
.SecaoAnuncioDetalhamento-detalhe, .SecaoAnuncioDetalhamento-descricao {
  color: #999;
  font-size: 10px;
  line-height: 1.5em;
}
.SecaoAnuncioDetalhamento-detalhe {
  display: table-cell;
  width: 30%;
  text-align: right;
  border-right: 1px solid #999;
  padding-right: 4px;
}
.SecaoAnuncioDetalhamento-descricao {
  display: table-cell;
  margin-left: 4px;
  color: #777;
  text-align: left;
  padding-left: 4px;
}
.SecaoAnuncioDetalhamento-linha {
  display: table-row;
}
.SecaoAnuncioDetalhamento-caracteristicas {
  display: table;
}

/* SecaoMapa */
.SecaoAnuncioMapa {
  border: 2px solid #F8F8F8;
  box-shadow: 0 0 1px #999;
  background: #F8F8F8;
  margin-top: 15px;
}
.SecaoAnuncioMapa-link {
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.SecaoAnuncioMapa-imagem {
  width: 100%;
  border-radius: 2px;
}
.SecaoAnuncioMapa-texto {
  color: #999;
  text-align: right;
  padding: 3px;
  padding-right: 8px;
  font-size: 12px;
}

/* RegrasAnuncio */
.RegrasAnuncio {
  background: #f2f2f2;
  padding: 5px 7px;
  clear: both;
  margin-top: 25px;
  min-height: 85px;
}
.RegrasAnuncio-rotulo {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  margin-bottom: -8px;
}
.RegrasAnuncio-condicoes {
  color: #999;
  line-height: 1.2em; 
  font-size: 10px;
}

/* Formulario */
.Formulario {
  position: relative;
  width:240px;
  height:400px;
  padding:0;
  font-family: 'Roboto';
  overflow:hidden;  
  background: #FFF;
  overflow-y: scroll; 
}

/* Formulario-Cabecalho */
.Formulario-Cabecalho {
  width:220px;
  padding: 15px;
  font-size:15px;
  position:relative;
  background:#11B1C2;
  color:#fff;
  text-align: left;
  line-height: 0.3em;
  font-weight: 100;
}
.Formulario-Cabecalho-valor {
  font-weight: 900;
}

/* Formulario-linha */
.Formulario-linha {
  background: #a9a9a9;
  width: 80%;
  margin: 0px auto;
  /*margin-top: -20px;*/
  height: 1px;
}

/* SecoesFormulario */
.SecoesFormulario {
  margin: 10px;
  min-height: 162px;
}

/* CamposFormularios */
.CamposFormulario-titulo {
  text-align: left;
  font-size: 12px;
  color: #333;
}

/* CampoFormularioInput*/
.CamposFormularioInput-titulo {
  text-align: left;
  font-size: 10px;
  color: #11B1C2;
  margin-bottom: 0px; 
}
.CampoFormularioInput-input {
  border: none;
  border-bottom: 1px solid #555;
  width: 100%;
}
.CampoFormularioInput-input:focus {
  border-bottom: 1px solid #11B1C2;
  outline: none
}

/* CampoFormularioOpcoes */
.CampoFormularioOpcoes-titulo {
  text-align: left;
  font-size: 10px;
  color: #11B1C2;
  margin-bottom: 0px; 
}
.CampoFormularioOpcoes-select {
  border-radius: 0px;
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  width: 100%;
  box-shadow: none;
}