
/* PHONE */
.phone {
  position:absolute;
  left:0;
  right:0;
  margin:10px auto;
  padding:70px 18px 68px 18px;
  width:240px;
  background:#444;
  border-radius:30px;
}

.phone:before {
  content:'';
  position:absolute;
  left:0;
  right:0;
  margin:-35px auto;
  height:8px;
  width:45px;
  background:#333;
  border-radius:20px;
}

.phone:after {
  content:'';
  position:absolute;
  left:0;
  right:0;
  margin:12px auto;
  height:42px;
  width:42px;
  background:#333;
  border-radius:20px;
}

.phone .box {
  width:240px;
  height:400px;
  padding:0;
  font-family: 'Roboto';
  overflow:hidden;  
  background: #FFF;
  overflow-y: scroll; 
}


/* Header */
.phone .header {
  min-width:220px;
  padding: 10px;
  font-size:18px;
  position:relative;
  background:#11B1C2;
  color:#fff;
  text-align: center;
  line-height: 0.3em;
}
.phone .header h2 {
  font-size: 34px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-weight: 400;
}
.phone .header h6 {
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}

/* about */
.phone .about {
  margin: 0;
}
.phone .bar {
  margin: 20px 10px -10px 10px;
}
.phone .about .profile {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.phone .about h3 {
  font-size: 14px;
}
.phone .about h6 {
  font-size: 12px;
  color: #666;
  font-weight: 300;
  margin-left: 52px;
  margin-top: -9px;
}
.phone .about .midias img {
  width: 100%;
}
.phone .about .description {
  color: #999;
  line-height: 1.2em;
  margin: 10px 10px -10px 10px;
  font-size: 12px;
}

/* Features */
.phone .features {
  margin: 20px 10px -10px 10px;
}
.phone .features h3 {
  font-size: 14px;
}